{% if __SELF__.isEditor %}
<div
    id="epigtor-image-{{ __SELF__.uploadId }}"
    data-control="epigtor-image"
    data-type="image"
    data-handler-refresh="{{ __SELF__ }}::onRefreshImage"
    data-image-partial="{{ __SELF__.imagePartial }}"
    data-refresh-code="{{ __SELF__.refreshCode }}"
    data-message="{{ __SELF__.message }}"
    data-model-class="{{ __SELF__.model_class }}"
    data-model-id="{{ __SELF__.model_id }}"
    data-instance-id="{{ __SELF__.imageInstanceId }}"
    data-popup-url="{{ __SELF__.imagePopupUrl }}"
    >
    {% if __SELF__.content %}
    <span id="epigtor-{{ __SELF__.uploadId }}">
        {% partial __SELF__.imagePartial image=__SELF__.content %}
    </span>
    {% else %}
    <span id="epigtor-{{ __SELF__.uploadId }}">
        {% partial __SELF__.imageEmptyPartial labelCreate=__SELF__.labelCreate %}
    </span>
    {% endif %}
</div>
{% else %}
    {% partial __SELF__.imagePartial image=__SELF__.content %}
{% endif %}
